:root {
  /* Primary */
  --colors-green: #26b99a;
  --colors-dark-green: 	#14a085;
  --colors-dark-violet: hsl(257, 27%, 26%);

  /* Secondary */
  --colors-red: hsl(354 87% 67%);

  /* Neutral */
  --colors-black: #222;
  --colors-snow: #f0f1f6;
  --colors-light-gray: #bbb;
  --colors-gray: #888;
  --colors-gray-violet: hsl(257, 7%, 63%);
  --colors-dark-blue: #35495e;
  --colors-dark-violet: hsl(260, 8%, 14%);
}