@import './colors.scss';
@import './typography.scss';

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body,
#__next {
  margin: 0;
  padding: 0;
  height: 100%;
}